<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Stylesheets-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">Schedule</div>
        Search: <input id="search" />
        <br/>
        <br/>
        <br/>

        
        <div id="schedule-view">
        </div>
    </div>

    
    <!-- Javascript -->
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>